<h1></h1>
<div class="container">
    <div class="shadow p-3 mb-5 bg-body rounded row mt-5">
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <form action="/admin/AddResponsable" method="post">
                <fieldset>
                    <legend>Ajouter Un Responsable</legend>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email de Medecin">
                    </div>
                    <div class="form-group">
                        <label for="Cin">Cin</label>
                        <input type="text" name="Cin" class="form-control" id="Cin" placeholder="Cin de Responsable">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>

    <hr>

    <div class="shadow p-3 mb-5 bg-body rounded row mt-5">
            <form action="/admin/addCenter" method="post">
                <fieldset>
                    <legend>Ajouter Center</legend>
                    <div class="form-group">
                        <label for="city">Ville</label>
                        <input type="text" name="city" class="form-control" id="city" aria-describedby="cityHelp" placeholder="Enterer Ville">
                    </div>
                    <div class="form-group">
                        <label for="centername">Nom de centre</label>
                        <input type="text" name="centerName" class="form-control" id="centername" placeholder="Nom de centre">
                    </div>
                    <div class="form-group">
                        <label for="centername">Responsable</label>
                        <input type="text" name="responsables" class="form-control" id="responsables" placeholder="responsable CIN (separé par ,)">
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </fieldset>
            </form>
        </div>

    <hr>

    <div class="shadow p-3 mb-5 bg-body rounded row mt-5">
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <form action="/admin/addVille" method="post">
                <fieldset>
                    <legend>Ajouter Une ville</legend>
                    <div class="form-group">
                        <label for="email">Ville</label>
                        <input type="text" name="cityName" class="form-control" id="cityName" aria-describedby="cityNameHelp" placeholder="entrer nom de ville">
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </fieldset>
            </form>
        </div>
    </div>

    <hr>

    <div class="shadow p-3 mb-5 bg-body rounded row mt-5">
        <div id="accordion" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <% if(typeof cities != 'undefined'){  %>
                <% cities.forEach(function (city) { %>
                    <h3><%= city.name %></h3>
                    <ul>
                        <% city.centers.forEach(function (center) { %>
                            <li><%= center.centerName %></li>
                        <%})%>
                            <li>
                                <form method="post" id=<%="form_" + city._id %> action="/admin/addCenter">
                                    <input class="display_Inline_Block" type="text" name="centerName" placeholder="Center name"/>
                                    <input type="text" name="responsables" placeholder="Responsables C.I.N separated by (,)"/>
                                    <input type="number" style="width: 50px" name="capacity" placeholder="capacité"/>
                                    <input type="text" name="_cityId" hidden value="<%= city._id %>"/>
                                    <input type="submit" class="btn btn-success" value="Ajouter center"/>
                                </form>

                            </li>
                    </ul>
                <%})%>
            <% } %>
        </div>
        <script>
            $( "#accordion" ).accordion({
                heightStyle: "content",
                collapsible: true
            });

        </script>
    </div>
</div>

<script>
    $('form').submit(function (event) {
            console.log(this);
    })
</script>
