<div class="marginT-120"></div>
<div class="container">
    <h4>You've forgotten your password, Please enter your email, if we found your email in our database we'll email you the reset link</h4>
    <small>Request Email verification ?</small>
    <div>
        <form method="post" action="/users/requestresetpassword">
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="email">
            </div>
            <button type="submit" class="btn btn-primary">Request</button>
        </form>
    </div>
</div>

