<div class="marginT-120"></div>
<div class="container">
    <h1>You are already registered, Please Complete your registration by simply verifying you Email</h1>
    <small>Request Email verification ?</small>
    <div>
        <form method="post" action="/token/request">
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="email">
            </div>
            <button data-sitekey="6Lc5rtoaAAAAAE4kzLLdtW0XLnOpCGHMfuXACA0t"
                    data-callback='onSubmit'
                    data-action='submit'
                    type="submit"
                    class="btn btn-primary">Request</button>
        </form>

    </div>
</div>

