<div class="marginT-120"></div>
<div class="container">
    <h1><%=verifyYourEmail.h1_1%></h1>
    <small><%=verifyYourEmail.small_1%></small>
    <div>
        <form method="post" action="/token/request">
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="<%=verifyYourEmail.placeholder_1%>">
            </div>
            <button data-sitekey="6Lc5rtoaAAAAAE4kzLLdtW0XLnOpCGHMfuXACA0t"
                    data-callback='onSubmit'
                    data-action='submit'
                    type="submit"
                    class="btn btn-primary"><%=verifyYourEmail.button_1%></button>
        </form>

    </div>
</div>

