<div class="marginT-120"></div>
<div class="container container-error">
    <div class="row">
        <div class="col-sm-12  col-lg-6">
            <img id="error" src="/img/covid_cyan.svg">
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="para">
                <strong class="txt" ><%=error.strong_1%></strong><br><br>

                <p class="lead">
                    <%=error.p_1%> <a style="color: #09538b " href="/"><%=error.a_1%></a>
                </p>
            </div>

        </div>
    </div>
</div>