<div class="marginT-120"></div>
<div class="container">
    <h5>Can I still get COVID-19 even after I’m vaccinated?</h5>
    <div class="container">
        <p class="lead">
            Editor’s note: So you’ve gotten your coronavirus vaccine, waited the two weeks for your immune system to respond to the shot and are now fully vaccinated. Does this mean you can make your way through the world like the old days without fear of spreading the virus? Deborah Fuller is a microbiologist at the University of Washington working on coronavirus vaccines. She explains what the science shows about transmission post-vaccination – and whether new variants could change this equation.
        </p>
    </div>

    <h5>Does vaccination completely prevent infection?</h5>
    <div class="container">
        <p class="lead">
            Does vaccination completely prevent infection?
            The short answer is no. You can still get infected after you’ve been vaccinated. But your chances of getting seriously ill are almost zero.
            Many people think vaccines work like a shield, blocking a virus from infecting cells altogether. But in most cases, a person who gets vaccinated is protected from disease, not necessarily infection.
        </p>
    </div>

</div>
