<div class="marginT-120"></div>
<div class="marginB-30"></div>
<h1 class="textAlignCenter">Vaccine Safety Facts</h1>
<div class="marginT-30"></div>
<div class="container">
    <h5>Can I still get COVID-19 even after I’m vaccinated?</h5>
    <div class="container">
        <p class="lead">
            Editor’s note: So you’ve gotten your coronavirus vaccine, waited the two weeks for your immune system to respond to the shot and are now fully vaccinated. Does this mean you can make your way through the world like the old days without fear of spreading the virus? Deborah Fuller is a microbiologist at the University of Washington working on coronavirus vaccines. She explains what the science shows about transmission post-vaccination – and whether new variants could change this equation.
        </p>
    </div>

    <h5>Does vaccination completely prevent infection?</h5>
    <div class="container">
        <p class="lead">
            Does vaccination completely prevent infection?
            The short answer is no. You can still get infected after you’ve been vaccinated. But your chances of getting seriously ill are almost zero.
            Many people think vaccines work like a shield, blocking a virus from infecting cells altogether. But in most cases, a person who gets vaccinated is protected from disease, not necessarily infection.
        </p>
    </div>
    <h5>What are the side effects of the vaccine?</h5>
    <div class="container">
        <p class="lead">
            COVID-19 vaccination will help protect you from getting COVID-19. You may have some side effects, which are normal signs that your body is building protection. These side effects may affect your ability to do daily activities, but they should go away in a few days. Some people have no side effects.        </p>
        <h6>Common Side Effects</h6>


        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card topleftborderraduis">
                    <img src="/img/pick.png" class="card-img-top sideEffectImg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">On the arm where you got the shot:</h5>
                        <p class="card-text">
                           <ul>
                              <li>Pain</li>
                              <li>Redness</li>
                              <li>Swelling</li>
                           </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card topleftborderraduis">
                    <img src="/img/fever.png" class="card-img-top sideEffectImg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Throughout the rest of your body:</h5>
                        <p class="card-text">
                        <ul>
                            <li>Tiredness</li>
                            <li>Headache</li>
                            <li>Muscle pain</li>
                            <li>Chills</li>
                            <li>Fever</li>
                            <li>Nausea</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>
