<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie-egde">
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css">
    <link rel="shortcut icon" href="/img/icon.ico" />
    <link rel="stylesheet" href="/styles/bootstrap/css/bootswatch.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lc5rtoaAAAAAE4kzLLdtW0XLnOpCGHMfuXACA0t"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.js"></script>

    <title><%= typeof title != 'undefined' ? title :'Welcome' %></title>
</head>
<body>

<%- include('./partials/navBar.ejs') %>
<div class="marginT-100"></div>
    <%- body %>
<%- include('./partials/footer.ejs') %>

<script src="/styles/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/styles/bootstrap/js/popper.js"></script>
<script src="/styles/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/moment@2.29.1/locale/ar.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/moment@2.29.1/locale/fr.js"></script>

</body>
</html>
