<%
let ar_text_alignment='', padding_20='', ar_flex='', padding_arabic;
if(lang==='ar'){
    ar_text_alignment='arabic_text';
    padding_arabic='paddingR-20';
    ar_flex='ar_justify_evenly';
}
%>



<div class="marginT-120"></div>
<div class="marginB-30"></div>
<h1 class="txt"><%=Safety.h1%></h1>
<div class="marginT-30"></div>

<div class="container  <%= ar_text_alignment%>">

    <div class="marginT-30"></div>
    <p class="lead">
     <%=Safety.p%>
    </p>
</div>