<div id="itchingResponse" style="display:none; margin-left: 20px">
    <div class="form-check">
        <input class="form-check-input" name="ItchingLow" onclick="showHideInput(this.id)" type="radio" id="ItchingLow">
        <label class="form-check-label" for="ItchingLow">
            Low
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input"  name="ItchingMeduim" onclick="showHideInput(this.id)" type="radio" id="ItchingMeduim">
        <label class="form-check-label" for="ItchingMeduim">
            Meduim
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="ItchingSever" onclick="showHideInput(this.id)" type="radio"  id="ItchingSever" >
        <label class="form-check-label" for="ItchingSever">
            Severe
        </label>
    </div>
</div>
