<div id="painResponse" style="display:none; margin-left: 20px">
    <div class="form-check">
        <input class="form-check-input" name="PainLow" onclick="showHideInput(this.id)" type="radio" id="PainLow">
        <label class="form-check-label" for="PainLow">
            Low
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input"  name="PainMeduim" onclick="showHideInput(this.id)" type="radio" id="PainMeduim">
        <label class="form-check-label" for="PainMeduim">
            Meduim
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="PainSever" onclick="showHideInput(this.id)" type="radio"  id="PainSever" >
        <label class="form-check-label" for="PainSever">
            Severe
        </label>
    </div>
</div>
