<div id="rednessResponse" style="display:none; margin-left: 20px">
    <div class="form-check">
        <input class="form-check-input" name="RednessLow" onclick="showHideInput(this.id)" type="radio" id="RednessLow">
        <label class="form-check-label" for="RednessLow">
            Low
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input"  name="RednessMeduim" onclick="showHideInput(this.id)" type="radio"  id="RednessMeduim">
        <label class="form-check-label" for="RednessMeduim">
            Meduim
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="RednessSever" onclick="showHideInput(this.id)" type="radio" id="RednessSever" >
        <label class="form-check-label" for="RednessLow">
            Severe
        </label>
    </div>
</div>
