<div id="swellingResponse" style="display:none; margin-left: 20px">
    <div class="form-check">
        <input class="form-check-input" name="SwellingLow" onclick="showHideInput(this.id)" type="radio" id="SwellingLow">
        <label class="form-check-label" for="SwellingLow">
            Low
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input"  name="SwellingMeduim" onclick="showHideInput(this.id)" type="radio" id="SwellingMeduim">
        <label class="form-check-label" for="SwellingMeduim">
            Meduim
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="SwellingSever" onclick="showHideInput(this.id)" type="radio"  id="SwellingSever" >
        <label class="form-check-label" for="SwellingSever">
            Severe
        </label>
    </div>
</div>
