<div class="container">
    <div class="row">
        <form action="/users/registeraresponsable" method="post">
            <%- include('../partials/messages.ejs') %>
            <fieldset>
                <legend> Completer inscription</legend>
                <input type="text" hidden name="_userId" value="<%= typeof _userId != 'undefined' ? _userId : '' %>">
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nom" value="<%= typeof name != 'undefined' ? name : '' %>">
                </div>
                <div class="form-group">
                    <label for="Prenom">Prenom</label>
                    <input type="text" class="form-control" id="Prenom" name="lastname" placeholder="Prenom" value="<%= typeof lastname != 'undefined' ? lastname : '' %>">
                </div>
                <div class="form-group">
                    <label for="Password">Mot de passe</label>
                    <input type="password" class="form-control" id="Password" name="password" placeholder="Mot de passe">
                </div>
                <div class="form-group">
                    <label for="Password2">Confirmer Mot de passe</label>
                    <input type="password" class="form-control" id="Password2" name="password2" placeholder="Mot de passe">
                </div>
                <div class="form-group">
                    <label for="Password2">Date de Naissance</label>
                    <input id="date" name="birthDate" class="form-control" id="birthDate" type="date" value="1975-01-01">
                </div>
                <div class="form-group">
                    <label for="gender">Sexe</label>
                    <select class="form-control" name="gender" id="gender">
                        <option value="male">Homme</option>
                        <option value="female">Femme</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>

    </div>
</div>


